<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SO</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/CSS/main.css">
</head>

<body style="background-color: rgb(50,50,50);">
    <header>
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" href="#"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-lk" href="recursos.html">Recursos</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-lk-active" href="#" >Procesos</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-lk" href="simulador.html" >Simulador</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="table2">
            <h2>Procesos</h2>
            <table class="table2" style="margin: 0px auto;">
                <thead class="thead-light">
                <tr class="head-table">
                    <th scope="col">Nombre </th>
                    <th scope="col">PID </th>
                    <th scope="col">CPU(%) </th>
                    <th scope="col">Memoria(%) </th>
                    <th scope="col">Memoria(MB)</th>
                </tr>
                </thead>
                <tbody id="bodyTable">
                        
                </tbody>
            </table>
        </div>
    <script src="assets/js/procesos.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>