<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SO</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/CSS/main.css">
</head>

<body style="background-color: rgb(50,50,50);">
    <header>
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" href="#"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-lk" href="recursos.html">Recursos</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-lk" href="procesos.html" >Procesos</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-lk-active" href="#" >Simulador</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
    </header>
    <div>
        <div id="lista">
                <h2>Lista</h2>
            <div class="nav-sim">
                <table class="table" style="margin-left: 50px;float: left;margin-right: 20px;">
                        <thead class="thead-light">
                        <tr class="head-table">
                            <th scope="col">Nombre </th>
                            <th scope="col">Estado </th>
                            <th scope="col">PID </th>
                            <th scope="col">Prioridad</th>
                            <th scope="col">Memoria </th>
                            <th scope="col">Rafaga </th>
                        </tr>
                        </thead>
                        <tbody style="height: 440px;" id="bodyTable"></tbody>
                    </table>
            </div>
            <div class="nav-sim"  style="float: left;">
                <button id="cargar" class="butt-sim" onclick="cargar();" style="width: 100px;height: 50px;font-size: 25px;">Cargar</button>
                <br><br><br>
                <div class="nav-sim">
                        <p class="butt-sim" style="background-color: rgb(50,50,50);color: rgb(200,200,200);display: inline;border-radius: 0px;">Metodo:</p>
                        <select class="butt-sim" id="metodos">
                            <option value="0" selected>FIFO</option>
                            <option value="1">Round Robin</option>
                            <option value="2">Prioridad</option>
                            <option value="3">SFJ</option>
                        </select>
                        <p class="butt-sim" style="background-color: rgb(50,50,50);color: rgb(200,200,200);display: inline;border-radius: 0px;">Q:</p>
                        <select class="butt-sim" id="quantum">
                            <option value="0"selected>Auto</option>
                            <option value="1" >1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4"selected>4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                        <button id="iniciar" class="butt-sim" onclick="iniciar()">Iniciar</button>
                    </div>
                    <br><br><br>
                    <p id="input-simulador" class="ta"rows="6" cols="15" style="margin-left: 140px;;float: left;text-align: left;color: rgb(200,200,200); background-color: rgb(50,50,50);" readonly><span style="color:red;">■ Detenido</span><br><span style="color:gold;">■ Preparado</span><br><span style="color:orange;">■ Ejecutando</span><br><span style="color:seagreen;">■ Espera</span><br><span style="color:green;">■ Finalizado</span></p>
            </div>
        </div>
        <div id="simulador" style="display: none;">
            <h2>Simulador</h2>
            <div class="nav-sim">
                <p class="butt-sim" style="background-color: rgb(50,50,50);color: rgb(200,200,200);display: inline;border-radius: 0px;">Metodo:</p>
                <select class="butt-sim" id="metodos">
                    <option value="0" selected>FIFO</option>
                    <option value="1">Round Robin</option>
                    <option value="2">Prioridad</option>
                    <option value="3">SFJ</option>
                </select>
                <p class="butt-sim" style="background-color: rgb(50,50,50);color: rgb(200,200,200);display: inline;border-radius: 0px;">Q:</p>
                <select class="butt-sim" id="quantum">
                    <option value="0"selected>Auto</option>
                    <option value="1" >1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4"selected>4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <button id="iniciar" class="butt-sim" onclick="iniciar()">Iniciar</button>
            </div>
            <div id="diagrama">
                <h2>Simulador</h2>
                <div style="float:center;">
                    <div class="nav-sim" style="display: contents;">
                        <p style="margin-left: 520px">Zombie/Dead</p>
                        <textarea id="dead" class="ta"rows="4" cols="30"style="margin-left: 520px;"  readonly></textarea>
                        <textarea id="input-simulador" class="ta"rows="4" cols="9" style="margin-left: 200px;color: rgb(200,200,200); background-color: rgb(50,50,50);" readonly>Teclado Raton Impresora Microfono
                        </textarea>
                        <br>
                        <img src="../../src/views/assets/img/arrow.png"  style="margin-left: 640px;transform: rotate(90deg);width: 30px;height: 30px;">
                        <p style="margin-left:158px">Espera &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Ejecución&nbsp;<span id='time'></span>s&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Parado</p>
                            <textarea id="sleep" class="ta"rows="4" cols="30" style="margin-left: 158px;" readonly>
                            </textarea>
                            <img src="../../src/views/assets/img/arrow.png">
                            <textarea readonly id="run" class="ta"rows="4" cols="30" >
                            </textarea>
                            <img src="../../src/views/assets/img/arrow.png" style="transform: rotate(180deg);">
                            <textarea readonly id="stop"  rows="4" cols="30" id="title" class="ta"  name="title"></textarea>
                        <br>
                            <img src="../../src/views/assets/img/double arrow.jpg" style="margin-left: 640px;transform: rotate(90deg);width: 30px;height: 30px;">
                            <p style="margin-left: 520px">Cola</p>
                            <img src="../../src/views/assets/img/curved arrow2.png" style="transform: rotateY(180deg) rotateZ(180deg);margin-left: 400px;">
                            <textarea readonly id="cola" style="margin-left: 26px;" class="ta"rows="4" cols="30" >
                            </textarea>&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="../../src/views/assets/img/curved arrow2.png"  style="margin-left: 8px;transform: rotate(180deg);">
                        </div>
                </div>
            </div>
        </div>
        <footer style="position: absolute;bottom: 40px;text-align: center;margin: auto;width: 100%;">
                Memoria RAM: <span id="ram"></span>kb<br>Memoria virtual: <span id="virt"></span>kb<br>
                <button id="list" class="butt-sim" onclick="change();" disabled>Lista</button>
                <button id="simu" class="butt-sim" onclick="change();">Simulador</button>
        </footer>
</div>
    <script src="assets/js/simulador.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>